<form id="form_del_cancel_id">

    <h4 style="color: white">Удалить строку</h4>    
    <div style="margin-top: 20px;">

        <button id="btn_cancel" class="btn btn-danger" type="button" >Отмена</button>
        <button id="btn_ok" class="btn btn-success" type="button">Ok</button>

    </div>    

</form>