
<!--<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>-->

<div id="formaMeasuring">

    <p>{{message}}</p>
    <input v-model="message" />

</div>

<script>

    /*let formaMeasuring = new Vue({
        el: '#formaMeasuring',
        data: {
            message: 'ау...'
        }
    });

    console.dir(formaMeasuring);

    console.dir(document.getElementById("formaMeasuring"));*/

</script>   
