@{
    Layout = null;
}
<div>

    Регистрация выполнена успешно!
    Для завершения регистрации перейдите в почту и кликнете по ссылке для активаций аккаунта.
    
   <!-- <a href="/home/index">Перейти в личный кабинет?</a>-->

</div>