@{
    Layout = null;
}

<label>Подтверждение электронной почты! Для завершения регистрации перейдите по ссылке:</label>
<a href="/account/confirmemail?userEmail=aaa@eee.ru&code=asd">завершить регистрацию</a>